:host {
  flex: 1 1 100%;

  background-image: url("/paintings/cannonbeach.jpg");
  background-size: cover;
  background-position: center;
}

img {
  width: 100%;
}

nav {
  padding-top: 10px;
  display: flex;
  flex-direction: row;
  position: absolute;
  left: 50%;
  transform: translate(-50%);

  gap: 6vw;

  span {
    cursor: pointer;
    color: white;
    text-shadow: 0 0 4px black;
    font-size: calc(2vw + 10px);
  }
}
