<span class="title body-font-400">Links</span>
<div class="container">
  <a class="item" href="https://www.instagram.com/{{instagram}}">
    <fa-icon [icon]="instagramIcon" />
    <span class="para body-font-300">@{{instagram}}</span>
  </a>
  <a class="item" href="mailto:{{email}}">
    <fa-icon [icon]="emailIcon" />
    <span class="para body-font-300">{{email}}</span>
  </a>
  <a class="item" href="https://www.youtube.com/@{{youtube}}">
    <fa-icon [icon]="youtubeIcon" />
    <span class="para body-font-300">@{{youtube}}</span>
  </a>
</div>
