/* You can add global styles to this file, and also import other style files */

html, body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;

  --tan-10-10: #f4f0ed;
  --tan-10-20: #e1d7cf;
  --tan-10-30: #cebdb1;
  --tan-10-40: #bba493;
  --tan-10-50: #a98a75;
  --tan-10-60: #92725b;
  --tan-10-70: #735a48;
  --tan-10-80: #554335;
  --tan-10-90: #372b23;
  --tan-20-10: #eee8e3;
  --tan-20-20: #dbcec5;
  --tan-20-30: #c8b5a7;
  --tan-20-40: #b59b89;
  --tan-20-50: #a2826b;
  --tan-20-60: #876a55;
  --tan-20-70: #695242;
  --tan-20-80: #4b3b2f;
  --tan-20-90: #2d231c;

  --tan-30-10: #e7dfd9;
  --tan-30-20: #d5c6bb;
  --tan-30-30: #c2ac9d;
  --tan-30-40: #af937f;
  --tan-30-50: #9c7961;
  --tan-30-60: #7d624f;
  --tan-30-70: #5f4a3c;
  --tan-30-80: #413329;
  --tan-30-90: #231b16;

}

$weights: 300, 400, 500, 600, 700, 800, 900;
@each $weight in $weights {
  .body-font-#{$weight} {
    font-family: "Epunda Slab", serif;
    font-optical-sizing: auto;
    font-weight: $weight;
    font-style: normal;
  }
}

.no-select {
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+ */
  user-select: none; /* Standard syntax */
}
